.home-page {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  padding-top: 60px;
}

@media (max-width: 900px) {
  .home-page {

  }
}

@media (max-width: 700px) {
  .home-page {

  }
}

@media (max-width: 450px) {
  .home-page {

  }
}
