header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 60px;
  border-bottom: 1px solid rgb(9, 9, 44);
  display: grid;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.empty-space-header {
  height: 60px;
}